<!DOCTYPE HTML>
<html>

<head>
	<title>Admin | 404</title>
	<%- include('../Components/headadmin'); -%>
</head>

<body>
	<!--/404-->
	<div class="error_page error">
		<!--/error-top-->
		<div class="error-top error">
			<h3>4<i class="fa fa-smile-o"></i>4</h3>
			<span>Whoops! Page not found</span>
			<p>The page your are looking for has escaped from our servers.</p>

		</div>

		<!--//error-top-->
	</div>
	<!--footer section start-->
	<div class="footer error">

	</div>
	<!--footer section end-->
	<!--/404-->
</body>
<%- include('../Components/scriptadmin'); -%>

</html>