<!DOCTYPE HTML>
<html>

<head>
	<title>Admin | 500</title>
	<%- include('../Components/headadmin'); -%>
</head>

<body>
	<!--/404-->
	<div class="error_page">
		<!--/error-top-->
		<div class="error-top error">
			<h3>500</h3>
			<p class="sorry">Sorry, there seem to be some problems with your request but Good news! It's not us, it's
				you!</p>

		</div>
		<!--//error-top-->
	</div>
	<!--footer section start-->
	<div class="footer error"></div>
	<!--footer section end-->
	<!--/404-->

</body>

<%- include('../Components/scriptadmin'); -%>

</html>