
</div>
<div id="footer">
    <div class="footer-container">
        <div class="grid-rows">
            <div class="grid-col-4 m-col-3 s-col-full">
                <div class="footer-item">
                    <div class="footer-title">
                        <img src="../../public/assets/img/logo-mona-01.png" alt="">
                    </div>
                    <div class="footer-content">
                        <div>
                            <div class="icon">
                                <div><i class="fas fa-map-marker-alt"></i></div>
                            </div>
                            <div><span>319 C16 Lý Thường Kiệt, Phường 15, Quận 11, Tp.HCM</span></div>
                        </div>
                        <div>
                            <div class="icon">
                                <div><i class="fas fa-blender-phone"></i></div>
                            </div>
                            <div><a href="">1900 636 648</a></div>
                        </div>
                        <div>
                            <div class="icon">
                                <div><i class="fas fa-envelope-open-text"></i></div>
                            </div>
                            <div>
                                <a href="">demonhunterg@gmail.com</a>
                                <a href="">mon@mona.media</a>
                            </div>
                        </div>
                        <div>
                            <div class="icon">
                                <div><i class="fab fa-skype"></i></div>
                            </div>
                            <div><a href="">demonhunterp</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-col-4 m-col-3 s-col-half">
                <div class="footer-item">
                    <div class="footer-title">
                        <h3>VỀ CHÚNG TÔI</h3>
                    </div>
                    <div class="footer-content">
                        <p><a href="">Giới thiệu</a></p>
                        <p><a href="">Hệ thống phân phối</a></p>
                        <p><a href="">Tầm nhìn – Sứ mệnh – Giá trị cốt lõi</a></p>
                        <p><a href="">Liên hệ</a></p>

                    </div>
                </div>
            </div>
            <div class="grid-col-4 m-col-3 s-col-half">
                <div class="footer-item">
                    <div class="footer-title">

                        <h3>CHÍNH SÁCH</h3>
                    </div>
                    <div class="footer-content">
                        <p><a href="">Chính sách giao hàng</a></p>
                        <p><a href="">Chính sách bảo mật</a></p>
                        <p><a href="">Chính sách đổi trả</a></p>
                        <p><a href="">Điều khoản dịch vụ</a></p>
                    </div>
                </div>
            </div>
            <div class="grid-col-4 m-col-half s-col-full">
                <div class="footer-item">
                    <div class="footer-title">
                        <h3>ĐĂNG KÝ</h3>
                    </div>
                    <div class="footer-content footer-contact">
                        <p>Đăng ký để nhận được được thông tin mới nhất từ chúng tôi.</p>
                        <form action="">
                            <div class="form-groups">
                                <input type="text" name="" id="" placeholder="Email ...">
                                <button><i class="fab fa-telegram"></i></button>
                            </div>
                        </form>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod
                            tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                        <img src="../../public/assets/img/ft_certi_img1.png" alt="">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <p>© Bản quyền thuộc về. Thiết kế website </p>
        <div class="footer-copyright_img">
            <img src="../../public/assets/img/logo.png" alt="">
        </div>
        <span> Nodemy</span>

    </div>
</div>
<div class="button-go-top">
    <a href="#" class="go-top show"><i class="fas fa-angle-up"></i></a>
</div>