<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Mỹ phẩm thiên nhiên</title>
<link
  rel="shortcut icon"
  href="//theme.hstatic.net/1000353126/1000735393/14/favicon.png?v=13"
  type="image/png"
/>
<!-- css -->
<link rel="stylesheet" href="../../public/assets/css/base.css">
<link rel="stylesheet" href="../../public/assets/css/header.css">
<link rel="stylesheet" href="../../public/assets/css/footer.css">
<link rel="stylesheet" href="/public/assets/css/cart1.css">
<link rel="stylesheet" href="../../public/assets/css/product_card.css">
<link rel="stylesheet" href="../../public/assets/css/search_overlay.css">
<link rel="stylesheet" href="/public/assets/css/nav-modal-mobile.css">
<link rel="stylesheet" href="../../public/assets/css/bootstrap.min.css">
<!-- fontawesome -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
    integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
<!-- owl carousel css -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
    integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
<!-- <link rel="stylesheet" href="owlcarousel/owl.carousel.min.css">
<link rel="stylesheet" href="owlcarousel/owl.theme.default.min.css"> -->

<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="../../public/assets/css/bootstrap.min.css" />
<script type="text/javascript" src="../../public/assets/js/jquery-1.10.2.min.js"></script>