<div class="sidebar-menu">
    <header class="logo">
        <a href="#" class="sidebar-icon"> <span class="fa fa-bars"></span> </a> <span style="display: flex;" id="logo">
            <h1> <b>
                    dashboard
                </b>
            </h1>
        </span>
        </a>
    </header>
    <div style="border-top:1px solid rgba(69, 74, 84, 0.7)"></div>
    <div class="down">
        <img src="../../public/images/e9d316183a604328af268de4847fcbec.png" alt="">
        <a href="#"><span class="name-caret">Admin</span></a>
        <ul>
            <li><a class="tooltips" href="#" onclick="logout()"><span>Log out</span><i
                        class="lnr lnr-power-switch"></i></a></li>
        </ul>
    </div>
    <div class="menu">
        <ul id="menu">
            <li title="User ListTable" id="menu-academico"><a href="/check/listuser"><i class="fa fa-table"></i>
                    <span>User List Table</span></a>
            </li>
            <li title="Products List Table"><a href="/check/listProducts"><i class="lnr lnr-pencil"></i> <span>Products
                        List Table</span></a>
            </li>
            <li title="Add Product to list"><a href="/check/addProducts"><i class="fa fa-plus"></i> <span>Add Product to
                        list</span></a>
            </li>
            <li title="List Orders"><a href="/check/listOrders"><i class="fa fa-shopping-cart"></i> <span>List
                        Orders</span></a>
            </li>
        </ul>
    </div>
</div>
<div class="clearfix"></div>