<!-- MODAL-MOBILE -->

<div class="modal-nav-mobile">
    <div class="modal-mobile-close">
      <button class="btn-mobile-close" >
        <i class="fas fa-times"></i>
      </button>
    </div>
    <div class="modal-mobile">
      <div class="container-mobile">
        <ul class="nav-mobile">
          <li class="nav-mobile-search">
            <!-- <select name="" id="search-mobile-op">
              <option value="">All</option>
              <option value="">Chăm sóc da</option>
              <option value="">Chăm sóc tóc</option>
            </select> -->
            <div class="search-mobile">
              <input id="search-mobile-input" type="text"  placeholder="Tìm kiếm"/>
              <span class="search-mobile-icon">
                <i class="fas fa-search"></i>
              </span>
            </div>
          </li>
          <li class="nav-mobile-item">
            <div class="nav-item">
              <a class="mobile-link" href="/">
                <span>TRANG CHỦ</span>
              </a>
            </div>
          </li>
          <li class="nav-mobile-item">
            <div class="nav-item">
              <a class="mobile-link" href="/profile">
                <span>TRANG CÁ NHÂN</span>
              </a>
            </div>
          </li>
          <li class="nav-mobile-item">
            <div class="nav-item">
              <a class="mobile-link" href="/filter">
                <span>SẢN PHẨM</span>
              </a>
            </div>    
          </li>
          <button class="nav-mobile-item link" onclick="ONOFF()">
            <div class="nav-item">
              <div class="mobile-link" href="/about-us/">
                <span >VỀ HACHI <i class="fas fa-angle-double-right"></i></span>
              </div>
            </div>
            <ul class="children" >
                <li class="children-item">
                <a class="children-link" href="/about-us/">Về chúng tôi</a>
                </li>
                <li class="children-item">
                    <a class="children-link" href="/slogan/">
                        Tầm nhìn - Sứ mệnh - Giá trị cốt lõi
                    </a>
                </li>
                <li class="children-item">
                    <a class="children-link" href="/contact/">Liên hệ</a>
                </li>
                <li class="children-item">
                    <a class="children-link" href="/store/">Hệ thống phân phối</a>
                </li>                                                         
            </ul>
          </button>
          <li class="nav-mobile-item">
            <div class="nav-item">
              <a class="mobile-link" href="/news">      
                <span>TIN TỨC</span>
              </a>
            </div>
            <ul class="children">
            </ul>
          </li>
  
          <li class="nav-mobile-login">
            <a class="mobile-login" href="/login">Đăng nhập</a>
          </li>
          <li class="nav-mobile-login">
            <a class="mobile-login" href="/user/dangky">Đăng ký</a>
          </li>
          <li class="nav-mobile-link">
            <a class="link-web" href=""
              ><i class="fas fa-envelope-square"></i> NEWSLETTER</a
            >
          </li>
          <li class="nav-mobile-link">
            <a class="link-web" href=""><i class="fab fa-facebook-f"></i></a>
            <a class="link-web" href=""><i class="fab fa-instagram"></i></a>
            <a class="link-web" href=""><i class="fab fa-twitter"></i></a>
          </li>
          <li class="nav-mobile-link">
            <a class="link-web" href=""
              ><i class="fas fa-mobile-alt"></i> 1900 666 888</a
            >
          </li>
          <li class="nav-mobile-link">
            <a class="link-web" href=""
              ><i class="fas fa-envelope-square"></i> nodemy@team</a
            >
          </li>
        </ul>
        <div class="list-search"></div>
      </div>
    </div>
  </div>
  
  <!-- MODAL-MOBILE-END -->