.body_container {
    position: relative;
    width: 100%;
    padding: 40px 20px;
    background: #eaeff2;
    @media screen and (max-width: 768px) {
      padding: 20px;
    }
    .body_main {
      position: relative;
      width: 100%;
      display: flex;
      flex-direction: column;
      box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.5);
      border-radius: 20px;
      @media screen and (max-width: 992px) {
        display: flex;
        flex-direction: column;
        gap: 0;
      }
      .main-left {
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 20px;
        padding: 20px;
        background-image: linear-gradient(
            90deg,
            rgba(36, 44, 129, 0.6),
            rgba(224, 108, 209, 0.6)
          ),
          url("../img/gene-brutty-92deTSv6O-A-unsplash.jpg");
        background-size: cover;
        border-radius: 20px 20px 0  0;
  
        @media screen and (max-width: 768px) {
          position: relative !important;
          width: 100%;
          box-shadow: none;
        }
        .profile {
          width: 100%;
          display: flex;
          justify-content: start;
          align-items: center;
          gap: 40px;
          .img_user {
            width: 100px;
            height: 100px;
            img {
              width: 100px;
              height: 100px;
              object-fit: cover;
              border-radius: 50%;
            }
          }
          .name_user {
            display: flex;
            justify-content: center;
            align-items: center;
            color: #f1f1f1;
          }
        }
   
      }
      .main-right {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        overflow-y: auto;
        @media screen and (max-width: 768px) {
          width: 100% !important;
          margin-left: 0;
          box-shadow: none;
        }
  
        .container-orders {
          display: flex;
          flex-direction: column;
          width: 100%;
          gap: 30px;
          padding: 20px;
  
          .content {
            h2 {
              color: #006885;
            }
          }
          .container-order {
            position: relative;
            display: flex;
            flex-direction: column;
            width: 100%;
            text-decoration: none;
            background: #fff;
            border: 2px solid #006885;
            cursor: pointer;
            .header-order {
              position: relative;
              width: 100%;
              display: flex;
              justify-content: space-between;
              color: #006885;
              background: #eaeaea;
              padding: 20px;
              &:hover{
                  background: linear-gradient(
                      90deg,
                      rgba(36, 44, 129, 0.6),
                      rgba(224, 108, 209, 0.6)
                    );
                    color: #f1f1f1;
              }
              @media screen and (max-width: 992px) {
                display: flex;
                flex-direction: column;
                gap: 10px;
              }
            }
  
          }
        }
      }
    }
  }
  