.filter-mobile-head {
    text-align: center;
}

.filter-head__nav {
    text-align: left;
    /* padding-left: 30px; */
    text-align: center;
}

.filter-head__nav span {
    color: black;
    font-weight: normal;
    font-size: 18px;
}

.filter-head__nav a {
    color: rgba(102, 102, 102, 0.7);
    font-weight: normal;
    font-size: 18px;
}

.filter-head__box {
    margin: 20px;
    display: none;
}

@media (max-width: 849px) {
    .filter-col.filter-col-2-4 {
        display: none;
    }
    .search-mobile-filter {
        margin: 0;
    }
    .filter-head__box {
        display: block;
        margin: 10px;
    }
    .filter-head__nav {
        text-align: center;
        padding: 0;
    }
    .filter-col-9-6 {
        width: 100% !important;
    }
    .filter-col-4 {
        width: 45% !important;
    }
    .product-filter__heading{
        padding-top: 0 !important;
    }
}

@media (max-width: 549px) {
    .filter-col-9-6 {
        width: 100% !important;
    }
    .filter-col-4 {
        width: 45% !important;
    }
    .container-mobile-filter{
        min-width: 60%;
    }
}