.main_news{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px 30px;
    @media screen and (max-width: 768px) {
        padding: 10px;
    }
    h3{
        color: #006885;
    }
    .container_news{
        width: 100%;
        display: grid;
        grid-template-columns: 3fr 1fr;
        gap: 20px;
        @media screen and (max-width: 768px) {
            width: 100%;
            display: flex;
            flex-direction: column;
        }
        .news-left{
            display: flex;
            width: 100%;
            flex-direction: column;
            gap: 20px;
            padding: 20px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
           h1,h2,h3,h4,h5,h6{
               color: #006885;
           }
           h1{
            @media screen and (max-width: 768px) {
                font-size: 24px;
            }
           }
          img{
            @media screen and (max-width: 768px) {
                width: 100% !important;
                height: 100% !important;
            }
          }
          table{
              width: 100% !important;
          }
          

        }
        .news-right{
            display: flex;
            width: 100%;
            flex-direction: column;
            gap: 20px;   
            h4{
                color: #006885;
            }    
            .news-right-item{
                display: grid;
                grid-template-columns: 1fr 2fr;
                height: 100px;
                gap: 20px;
                text-decoration: none;
                .item-img{                   
                    img{
                        height: 100px;
                        width: 100px;
                        object-fit: cover;
                    }
                }
                .item-title{
                    display: flex;
                    flex-direction: column;
                    h4{
                        color: #006885;
                    }
                }
            }
        }
      
    }
}