<style>
    .body {
      padding: 30px;
    }
    h1 {
      color: #006885;
    }
    .txt-italic {
      font-style: italic;
      font-weight: bold;
      color: #777;
    }
  </style>


  <div class="body">
    <h1>GIỚI THIỆU</h1>
    <p>
      <span class="txt-italic"
        >Sự ra đời của Mỹ phẩm Thiên nhiên HACHI xuất phát từ niềm khao khát
        mang tinh túy từ thiên nhiên đến với mọi người.</span
      >
      Các sản phẩm HACHI đều được sử dụng nguyên liệu chiết suất từ trái cây,
      thảo dược quý – đặc biệt từ nguồn nguyên liệu đa dạng, phong phú được
      trồng, khai thác và chế biến trên đất nước Việt Nam.
    </p>
    <p>
      Con người thực sự khỏe mạnh, tươi mới khi gần gũi với thiên nhiên.
      <span class="txt-italic">
        Bởi vậy, các sản phẩm thiên nhiên, không hóa chất độc hại sẽ mang lại
        cuộc sống trong lành, chất lượng, giúp bạn giải tỏa những bận rộn,
        căng thẳng của cuộc sống hiện đại.</span
      >
      Đắm mình trong tinh chất thiên nhiên sẽ giúp bạn khỏe khoắn, năng động
      và làm chậm lại dấu vết thời gian.
    </p>
    <p>
      Thật tâm, chúng tôi có mong muốn mãnh liệt đó là xây dựng một thương
      hiệu Mỹ phẩm thiên nhiên Việt Nam với tất cả niềm tự hào dân tộc:
      <span class="txt-italic"
        >“Tự hào về Việt Nam tươi đẹp, con người cần cù, sáng tạo và yêu thiên
        nhiên”.
      </span>
      Chúng tôi sẽ luôn nuôi dưỡng, phát triển và bảo tồn những giá trị quý
      báu của đất nước văn hóa nghìn năm. Để từ đó, HACHI cho ra đời những sản
      phẩm chất lượng hàng đầu, tự hào sánh vai cùng những thương hiệu Quốc
      tế.
    </p>
    <p>
      <span class="txt-italic"
        >Hơn thế nữa, để đảm bảo chất lượng cho các sản phẩm của mình, HACHI
        còn đầu tư vào nông nghiệp cho nguồn nguyên liệu sạch.</span
      >
      Đó là mong muốn của HACHI nhằm bảo vệ, gìn giữ môi trường góp phần phát
      triển nền nông nghiệp nước nhà. Vì thế HACHI tự hào về những gì đã, đang
      và sẽ đóng góp cùng xã hội để mang lại cuộc sống tốt đẹp, lành mạnh hơn
      cho mọi người.
    </p>
    <p>
      HACHI không ngừng trau dồi, học hỏi và áp dụng kỹ thuật, công nghệ tiên
      tiến nhất trên Thế giới vào sản xuất sản phẩm của mình
      <span class="txt-italic">
        Chúng tôi mong muốn để lại những giá trị, những bài học về sự vô giá
        hữu hạn của thiên nhiên.</span
      >
      Đó là những điều HACHI muốn truyền lại cho thế hệ sau tiếp bước phát
      triển thương hiệu Việt một cách mạnh mẽ, vững bền.
    </p>
  </div>
