<div class="main">
    <div class="main-cart">
      <div class="container-cart-buy">
        <div class="content-table">
          <!-- <div class="content-table-items">
              <div class="item-td">Sản phẩm</div>
              <div class="item-td"></div>
              <div class="item-td">Đơn giá</div>
              <div class="item-td">Số lượng</div>
              <div class="item-td">Tạm tính</div>
            </div> -->
        </div>
  
        <div class="buy-table"></div>
        <div class="back-buy">
          <a class="go-buy" href="/"
            ><i class="fas fa-long-arrow-alt-left"></i> Tiếp tục mua sắm</a
          >
        </div>
      </div>
  
      <div class="right-cart">
        <!-- <div class="right-content"><p>CỘNG GIỎ HÀNG</p></div>
          <div class="total">
            <div class="total-content">Tạm tính</div>
            <div class="total-price">1000</div>
          </div>
          <div class="total-end">
            <div class="total-end-content">Tổng</div>
            <div class="total-end-price">1000</div>
          </div>
          <div class="pay">
            <button class="pay-item">Tiến hành thanh toán</button>
          </div> -->
      </div>
    </div>
  </div>