<div class="body_container">
    <div class="body_main">
      <div class="main-left">
        <div class="profile">
          <div class="img_user">
            <img src="<%= acc.avatar %>" alt="" />
          </div>
          <div class="name_user">
            <h4><%= acc.firstname %> <%= acc.lastname %></h4>
          </div>
        </div>
        <div class="main-left_items">
            <a class="item" href="/profile" >
                <span class="icon"><i class="fas fa-user"></i></span>
                <span>Tài khoản của tôi</span>
            </a >
            <a class="item" href="/changeProfileUser" >
                <span class="icon"><i class="fas fa-user-edit"></i></span>
                <span>Change Profile</span>
            </a>
            <a class="item" href="/myOrder">
                <span class="icon"><i class="fas fa-clipboard"></i></span>
                <span>Đơn mua</span>
            </a>
            <a class="item" href="/changePassUser">
                <span class="icon"><i class="fas fa-lock-open"></i></span>
                <span>Thay đổi mật khẩu</span>
            </a> 
        </div>
      </div>
      <div class="main-right">
        <div class="container_main">
            <div class="main_title">Change Pass</div>
            <div class="unline"></div>
            <div id="form-main_profile">
              <div class="main-profile_left">
                <div class="form-input">
                  <div class="preview">
                    <img
                      id="file-ip-1-preview"
                      class="img_view"
                      src="<%= acc.avatar %>"
                    />
                  </div>
                </div>
              </div>
              <div class="main-profile_right">
                <div class="form_info">
                  <label for="newpass">New Password</label>
                  <input type="password" id="newpass" placeholder="New Password" />
                  <span class="form-message"></span>
                </div>
                <div class="form_info">
                  <label for="comfirm">Comfirm password</label>
                  <input type="password" id="comfirm" placeholder="Comfirm" />
                  <span class="form-message"></span>
                </div>
        
                <div class="form_info">
                  <button class="change_pass" onclick="changePass()">
                    Save Change
                  </button>
                  <span class="message-error"></span>
                </div>
              </div>
            </div>
            <div class="main-profile_update">
              <div></div>
            </div>
          </div>
      </div>
    </div>
  </div>
  