<style>
    .body {
      padding: 60px;
    }
    .body > h2 {
      color: #006885;
      font-weight: 500;
    }
    .body > h5 {
      color: #777;
      font-size: 16px;
      font-weight: bold;
    }
    .body > p {
      padding: 10px 30px;
      color: #777;
      font-size: 16px;
    }
    .body > .luan-diem {
      padding: 0 30px;
      color: #777;
    }
  </style>


  <div class="body">
    <h2>TẦM NHÌN – SỨ MỆNH – GIÁ TRỊ CỐT LÕI</h2>
    <h5>Tầm nhìn</h5>
    <p>
      HACHI là thương hiệu Mỹ phẩm Việt nam tiêu biểu và dẫn đầu về sản phẩm
      chăm sóc sắc đẹp được hội tụ từ thiên nhiên phong phú trên đất nước Việt
      Nam.
    </p>
    <p style="text-align: center">
      <img
        src="https://file.hstatic.net/1000353126/file/main-slider_1_6b68564e9c964cc49dee7c8fbd8e5d08_grande.jpg"
        alt=""
      />
    </p>
    <h5>Sứ mệnh:</h5>
    <p>
      Chúng tôi tôn vinh thiên nhiên phong phú, giá trị con người và tinh thần
      dân tộc Việt Nam. Với lòng tự hào thương hiệu Việt, HACHI luôn nỗ lực
      tìm tòi, sáng tạo để chắt lọc những gì tinh túy nhất từ nguồn nguyên
      liệu vô cùng phong phú và giá trị để tạo ra món quà thiên nhiên quý giá
      trao tặng cho con người Việt Nam cũng như bạn bè Thế giới.
    </p>
    <p style="text-align: center">
      <img
        src="https://file.hstatic.net/1000353126/file/image_01_bf57a434f0ef481aafc916e1bbedc3db_grande.jpg"
        alt=""
      />
    </p>
    <h5>Giá trị cốt lõi:</h5>
    <ul class="luan-diem">
      <li>
        Đoàn kết và tự hào tôn vinh giá trị tinh thần Việt Nam – “Một cây làm
        chẳng nên non, ba cây chụm lại nên hòn núi cao”
      </li>
      <li>
        Luôn đặt uy tín lên hàng đầu để tạo ra những sản phẩm chất lượng cao.
      </li>
      <li>
        Luôn chăm sóc sức khoẻ và sắc đẹp bằng các sản phẩm thiên nhiên, cùng
        truyền cảm hứng và lan toả lối sống lành mạnh đến với mọi người xung
        quanh và cộng đồng.
      </li>
      <li>
        Nâng cao ý thức bảo vệ môi trường, bảo vệ thiên nhiên. Từ đó xây dựng
        tình yêu và sự gần gũi với thiên nhiên.
      </li>
      <li>
        Không ngừng học hỏi, tìm kiếm kiến thức giúp sáng tạo ra những sản
        phẩm vượt trội và chia sẻ kiến thức, kinh nghiệm cho những người xung
        quanh.
      </li>
    </ul>
  </div>