<style>
    .body {
      padding: 40px;
    }
    h2 {
      color: #006885;
    }
  </style>



  <div class="body">
    <h2>HỆ THỐNG PHÂN PHỐI VÀ BÁN LẺ</h2>
    <h4>
      Sản phẩm của Mỹ phẩm thiên nhiên Hachi Việt Nam đang được phân phối tại
      các siêu thị và cửa hàng bán lẻ trên toàn quốc.
    </h4>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellendus
      porro, possimus sed aliquid officiis at! Sapiente commodi provident,
      earum itaque nemo facilis voluptatum expedita dolore voluptate accusamus
      ea illum fugit?
    </p>
  </div>
