<div class="details">
    <div class="container_detail">
         <div class="content-detail">
             <h2>Add Product</h2>
         </div>
         <form id="form-addProduct" method="POST" action="" enctype="multipart/form-data">
             <div class="form-items">
                 <div class="form-item">
                     <label for="imgProduct">imgProduct</label>
                     <input type="file" id="imgProduct" multiple name="products" >
                 </div>
                 <div class="form-item">
                     <label for="name">Name</label>
                     <input type="text" id="nameprd" name="name" >
                     <span class="form-message"></span>
                 </div>
                 <div class="form-item">
                     <label for="">prd-key</label>
                     <input type="text" id="prd_key" name="prd_key" >
                     <span class="form-message"></span>
                 </div>
                 <div class="form-item">
                     <label for="price">price</label>
                     <input type="text" id="price" name="price" >
                     <span class="form-message"></span>
                 </div>
                 <div class="form-item">
                     <label for="quantity">quantity</label>
                     <input type="text" id="quantity" name="quantity" >
                     <span class="form-message"></span>
                 </div>
                 <div class="form-item">
                     <label for="codeProduct">codeProduct</label>
                     <input type="text" id="codeProduct" name="codeProduct">
                     <span class="form-message"></span>
                 </div>
                 
             </div>
             <div >
                <label for="descriptionDetails">descriptionDetails</label>
                <textarea name="descriptionDetails" id="editor" cols="30" rows="10"></textarea>  
                
               <script>
                   // Replace the <textarea id="editor1"> with a CKEditor 4
                   // instance, using default configuration.
                   CKEDITOR.replace( 'editor' );
               </script>   
            </div>
            
         </form>
         <div class="btns_add" id="btns_add">
            <button class="btn_add" onclick="addProduct()" >add</button>
            <span class="form-message-error"></span>
       </div>
        
    </div>
 </div>